@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
                    http://asp.net/mvc</a>. The page features <mark>videos, tutorials,
                        and samples</mark> to help you get the most from ASP.NET MVC. If you have
                any questions about ASP.NET MVC visit <a href="http://forums.asp.net/1146.aspx/1?MVC"
                    title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}


<script type="text/javascript">
    
    $(document).ready(function () {


        //#region Bing API controller access
        //$.ajax({
 
        //    type: "GET",
        //    url: "api/Bing/1",
        //    dataType: "json",
        //    success: function (data) {
        //        //debugger;
        //             alert(data);
        //    }
        //});

        //$.ajax({

        //    type: "GET",
        //    //url: "api/Bing",
        //    //url: "api/Bing?$skip=3",
        //    url: "api/Bing?$filter=Name eq 'Yo-yo'",
        //    dataType: "json",
        //success: function (data) {
            
        //        $.each(data, function (key, val) {
        //            alert(val.Id);
        //        });
        //    }
        //});
        
        //$.post("test.php", { name: "John", time: "2pm" });

        //$.ajax({

        //    type: "POST",
        //    url: "api/Bing/?value1=def",
        //    dataType: "json",
        //    data: { name: "abc", email:"cchen@gmail.com" },
        //    success: function (data) {
        //        debugger;
        //    }
        //});

        //$.ajax({

        //    type: "PUT",
        //    url: "api/Bing",
        //    dataType: "json",
        //    success: function (data) {
        //        debugger;
        //        alert(data);
        //    }
        //});
        //#endregion


        //#region Process controller access
       
        function Person(name, address, id) {
            this.name = name;
            this.address = address;
            this.id = id;
        }


        var refresh = function ()
        {
            $.ajax({

                type: "GET",
                url: "api/Process",
                dataType: "json",
                success: function (data) {
                    $("#ProcessAPIContainer").html("");
                    $.each(data, function (key, val) {
                        $("<li>").html(val.ID + ' ' + val.Name + ' ' + val.Address).appendTo($("#ProcessAPIContainer"));

                    });

                }
            });

        }


        //$("#saveDBToAPI").bind("click", function () {
           
        //    $.ajax({

        //        type: "POST",
        //        url: "api/Process",
        //        dataType: "json",
        //        data: { Name: $("#name").val(), Address: $("#address").val() },
        //        success: function (data) {
        //            refresh();
        //        }
        //    });

        //})

        $("#saveDBToAPI").bind("click", function () {

            

            var person = new Person($("#name").val(),$("#address").val());

            $.ajax({

                type: "POST",
                url: "api/Process",
                dataType: "json",
                data: person ,
                success: function (data) {
                    refresh();
                }
            });

        })

        $("#deleteDBToAPI").bind("click", function () {

            $.ajax({

                type: "DELETE",
                url: "api/Process/" + $("#deleteID").val(),
                dataType: "json",
                //data: { id: $("#deleteID").val() },
                success: function (data) {

                    refresh();

                }
            });

        })

        $("#updateDBToAPI").bind("click", function () {

            var person = new Person($("#updateName").val(), $("#updateAddress").val(), $("#updateID").val());

            $.ajax({

                type: "PUT",
                url: "api/Process/",
                dataType: "json",
                data: person,
                success: function (data) {

                    refresh();

                }
            });

        })

       

        refresh();
        //#endregion
        
    });
</script>

<div id="ProcessAPIContainer"></div>

<h3>We suggest the following:</h3>

Name:<input type="text" id="name" />
Address:<input type="text" id="address" />
<input type="button" id="saveDBToAPI" value="save" />

<br />
<br />
ID:<input type="text" id="deleteID" />
<input type="button" id="deleteDBToAPI" value="delete" />

<br />
<br />
ID: <input type="text" id="updateID" />
Name:<input type="text" id="updateName" />
Address:<input type="text" id="updateAddress" />
<input type="button" id="updateDBToAPI" value="update" />

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
            more</a></li>
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more</a></li>
    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn
            more</a></li>
</ol>


